APP_NAME=QaBrainMCP
APP_VERSION=1.0.1

TARGET_APP_NAME=OrangeHRM

APP_URL=https://opensource-demo.orangehrmlive.com
APP_USERNAME=Admin
APP_PASSWORD=admin123

BROWSER=chromium
HEADLESS=false

LOG_LEVEL=info

MCP_HOST=127.0.0.1
MCP_PORT=3000